@import "../../sass/base"; 

.home {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  
  position: relative;
  
  &__img {
    width: 100%;
    
    grid-column: 1 / -1;
    grid-row: 1 / 5;
  }
  
  &__title {
    grid-column: 2 / 10;
    grid-row: 3 / 6;
    z-index: 10;
    
    background-color: $color-secondary;
    color: #fff;
    text-align: center;
    padding-block: 1.5rem;
    font-size: 1.4rem;
    text-transform: capitalize;
  }
  
  &__details {
    grid-column: 1 / -1;
    grid-row: 5 / 10;
    padding: 4rem 2rem;
    
    background-color: $color-grey-light-1;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  &__location, 
  &__area,
  &__rooms, 
  &__price {
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-primary;
    
    &--wish {
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 100;
      cursor: pointer;
    }
  }
  
  button {
    grid-column: 1 / -1;
    grid-row: 10 / 11;
  }
}
